<div class="container-fluid">
    <h3>Listado de POS</h3>
    <hr />
    <!-- Button trigger modal -->
    <button type="button" class="mb-3 btn btn-primary" data-bs-toggle="modal" data-bs-target="#posModal"
        (click)="cleanForm()">
        Agregar POS
    </button>
    <!-- Modal insert -->
    <div class="modal fade m-3" id="posModal" tabindex="-1" aria-labelledby="posModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="posModalLabel" *ngIf="newPos.id == 0 else elseBlockTitle">
                        Agregar
                        POS
                    </h5>
                    <ng-template #elseBlockTitle>
                        <h5>Editar POS</h5>
                    </ng-template>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        #btnCerrar></button>
                </div>
                <form [formGroup]="posFormGroup">
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID:</label>
                            <input type="text" class="form-control" formControlName="id" readonly />
                            <small class="form-text text-muted">Este campo es autogenerado</small>
                        </div>
                        <div class="form-group">
                            <label for="formNroSerie" class="form-control-label">Nro de serie:</label>
                            <input type="text" *ngIf="!newPos.id else elseBlockNroSerie"
                                [ngClass]="posFormGroup.controls['nro_serie'].invalid?'form-control is-invalid':'form-control is-valid'"
                                id="formNroSerie" placeholder="5B999999" formControlName="nro_serie" />
                            <ng-template #elseBlockNroSerie>
                                <input type="text" class="form-control" id="formNroSerie" formControlName="nro_serie"
                                    readonly />
                            </ng-template>
                            <div class="invalid-feedback"
                                *ngIf="posFormGroup.controls['nro_serie'].invalid && (posFormGroup.controls['nro_serie'].dirty || posFormGroup.controls['nro_serie'].touched)">
                                <span *ngIf="posFormGroup.controls['nro_serie'].errors?.['required']">
                                    Nro de serie es necesario
                                </span>
                                <span *ngIf="posFormGroup.controls['nro_serie'].errors?.['pattern']">
                                    Patrón no valido
                                </span>
                                <span *ngIf="posFormGroup.controls['nro_serie'].errors?.['minlength']">
                                    Mínimo 8 caracteres
                                </span>
                                <span *ngIf="posFormGroup.controls['nro_serie'].errors?.['maxlength']">
                                    Maximo 8 caracteres
                                </span>
                                <span *ngIf="posFormGroup.controls['nro_serie'].errors?.['nroSerieExists']">
                                    Nro de serie ya existe
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="formModelo" class="form-label">
                                Modelo:
                            </label>
                            <select
                                [ngClass]="posFormGroup.controls['modelo'].invalid?'form-control is-invalid':'form-control is-valid'"
                                id="formModelo" formControlName="modelo" [compareWith]="compareModelo">
                                <option disabled [ngValue]="undefined">--- Seleccione un modelo ---</option>
                                <option *ngFor="let modelo of modelos" [ngValue]="modelo">
                                    {{ modelo.nombre_modelo }}
                                </option>
                            </select>
                            <div class="invalid-feedback"
                                *ngIf="posFormGroup.controls['modelo'].invalid && (posFormGroup.controls['modelo'].dirty || posFormGroup.controls['modelo'].touched)">
                                <span *ngIf="posFormGroup.controls['modelo'].errors?.['required']">
                                    Modelo es necesario
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="formEmpresa" class="form-label">
                                Empresa:
                            </label>
                            <select
                                [ngClass]="posFormGroup.controls['empresa'].invalid?'form-control is-invalid':'form-control is-valid'"
                                id="formEmpresa" formControlName="empresa" [compareWith]="compareEmpresa">
                                <option disabled [ngValue]="undefined">--- Seleccione una empresa ---</option>
                                <option *ngFor="let empresa of empresas" [ngValue]="empresa">
                                    {{ empresa.nombre_empresa }}
                                </option>
                            </select>
                            <div class="invalid-feedback"
                                *ngIf="posFormGroup.controls['empresa'].invalid && (posFormGroup.controls['empresa'].dirty || posFormGroup.controls['empresa'].touched)">
                                <span *ngIf="posFormGroup.controls['empresa'].errors?.['required']">
                                    Empresa es necesario
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="formFecha" class="form-label">Fecha de ingreso:</label>
                            <input type="date"
                                [ngClass]="posFormGroup.controls['fecha_ingreso'].invalid?'form-control is-invalid':'form-control is-valid'"
                                id="formFecha" formControlName="fecha_ingreso" />
                        </div>
                        <div class="form-group">
                            <label for="formObservacion" class="form-control-label">Observación:</label>
                            <textarea
                                [ngClass]="posFormGroup.controls['observacion'].invalid?'form-control is-invalid':'form-control is-valid'"
                                id="formObservacion" rows="3" formControlName="observacion">
                            </textarea>
                            <div class="invalid-feedback"
                                *ngIf="posFormGroup.controls['observacion'].invalid && (posFormGroup.controls['observacion'].dirty || posFormGroup.controls['observacion'].touched)">
                                <span *ngIf="posFormGroup.controls['observacion'].errors?.['required']">
                                    Nro de serie es necesario
                                </span>
                                <span *ngIf="posFormGroup.controls['observacion'].errors?.['minlength']">
                                    Mínimo 2 caracteres
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <button [disabled]="!posFormGroup.valid" *ngIf="!newPos.id else elseBlockButton"
                                    (click)="insertPos()" class="btn btn-success" role="button">
                                    Save
                                </button>
                                <ng-template #elseBlockButton>
                                    <button [disabled]="!posFormGroup.valid" (click)="updatePos()" role="button"
                                        class="btn btn-primary">
                                        Update
                                    </button>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Fin add Modal-->
    <!--Tabla con la lista-->
    <div>
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>N°</th>
                    <th>Nro de Serie</th>
                    <th>Modelo</th>
                    <th>Empresa</th>
                    <th>Fecha de ingreso</th>
                    <th>Observación</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody *ngIf="posList?.length !=0">
                <tr *ngFor="let pos of posList">
                    <td>{{pos.id}}</td>
                    <td>{{ pos.nro_serie }}</td>
                    <td>{{pos.modelo?.nombre_modelo}}</td>
                    <td>{{pos.empresa?.nombre_empresa}}</td>
                    <td>{{ pos.fecha_ingreso | date:"dd, MMMM yyyy"}}</td>
                    <td>{{ pos.observacion }}</td>
                    <td>
                        <div>
                            <button type="button" name="editar" data-bs-toggle="modal" data-bs-target="#posModal"
                                (click)="onUpdateModalPos(pos.id)" class="m-2 btn btn-primary btn-sm">
                                Editar
                            </button>
                            <button type="button" name="eliminar" (click)="deletePos(pos)"
                                class="btn btn-danger btn-sm">
                                Eliminar
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="posList?.length == 0">
                <tr>
                    <td colspan="7" class="no-data-avaliable text-center">No data</td>
                </tr>
            </tbody>
        </table>
        <app-paginator *ngIf="paginator" [paginator]="paginator" [routePaginator]="routePaginator"></app-paginator>
    </div>
    <!--Fin tabla-->
</div>
